html {
  background-image: url('./background.jpg'); 
  padding: 3% 15%;
}
h1 {
  color: #fff;
  text-align: center;
  font-family: cursive;
  font-size: 3rem;
}
.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  position: relative;
}
.receipt {
  background-color: #fff;
  color: #000;
  width: 180px;
  margin-top: 40px;
  padding: 10px 20px 20px;
  position: relative;
}
.receipt:before{
  content: '';
  background-image: url('./receipt_top.png');
  background-size:contain;
  background-repeat: no-repeat;
  position: absolute;
  height: 45px;
  width: 100%;
  top: -40px;
  left: 0;
}
.receipt h2 {
  margin: 0;
  width: 100%;
  text-align: center;
}
.receipt h3 {
  display: flex;
  width: 100%;
  column-gap: 5px;
}
.receipt h3 span {
  border-bottom: 1px solid #777;
  flex: 1;
  text-align: center;
  font-family: cursive;
}
.order {
  margin-top: 3%;
  width: 100%;
}
.order p {
  display: flex;
  width: 100%;
  column-gap: 5px;
}
.order p span {
  border-bottom: 1px dashed #777;
  flex: 1;
  text-align: right;
  font-family: cursive;
}